<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= content_for(:title) || "Japongo" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/5.3.1/fabric.min.js"></script>
  </head>

  <body class="h-full flex flex-col">
    <header class="bg-blue-600 text-white p-4">
      <div class="container mx-auto flex justify-between items-center">
        <h1 class="text-3xl font-bold">Japongo</h1>
        <%= link_to word_of_the_day_path, class: "text-white hover:text-blue-200 text-xl font-semibold border-b-2 border-transparent hover:border-white transition duration-300" do %>
          <span class="mr-2">Word of the day:</span>
          <span class="text-2xl"><%= WordOfTheDayService.word_of_the_day.kanji %></span>
        <% end %>
      </div>
    </header>
    <nav class="bg-blue-500 p-2">
      <ul class="flex justify-center space-x-4">
        <li><%= link_to "Hiraganas", hiraganas_path, class: "text-white hover:text-blue-200" %></li>
        <li><%= link_to "Building blocks", building_blocks_path, class: "text-white hover:text-blue-200" %></li>
        <li><%= link_to "Words", words_path, class: "text-white hover:text-blue-200" %></li>
        <%= link_to "Play", games_path, class: "bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded" %>
      </ul>
    </nav>
    <main class="flex-grow flex">
      <%= yield %>
    </main>
  </body>
</html>
